<!DOCTYPE html>
<html>
<head>
    <title>Регистрация</title>
    <meta name="csrf-token" content="<%= csrfToken %>">
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        .form-container {
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        input[type="email"], input[type="password"] {
            width: calc(100% - 22px);
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
        button {
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            border: none;
            border-radius: 5px;
            background-color: #007bff;
            color: #fff;
            cursor: pointer;
        }
        button:hover {
            background-color: #0056b3;
        }
        .error-message {
            color: red;
            margin-bottom: 15px;
        }
    </style>
</head>
<body>
    <div class="form-container">
        <h1>Регистрация</h1>
        <% if (messages) { %>
            <div class="error-message"><%= messages %></div>
        <% } %>
        <form action="/register" method="POST">
            <input type="hidden" id="csrfToken" name="_csrf" value="<%= csrfToken %>">
            <input type="text" name="username" placeholder="Имя пользователя" required minlength="3">
            <input type="password" name="password" placeholder="Пароль" required minlength="6">
            <button type="submit">Зарегистрироваться</button>
        </form>
        <p>Уже есть аккаунт? <a href="/login">Войти</a></p>
    </div>
</body>
</html>